# Environment variables for backup.sh
# Copy this file to .env and customize as needed

# Allow the script to create directories if they do not exist
CREATE_DIRS=true

# Directory to backup
BACKUP_SOURCE="/full/path/to/source"

# Backup mode: local, ssh, ftp
BACKUP_MODE=local

# Borg repository path
BORG_REPO="/full/path/to/dest/repo"

# Name of the backup archive without timestamp
BORG_ARCHIVE_NAME="Docker-Stack"

# Logging level: TRACE, DEBUG, INFO, WARN, ERROR
LOG_LEVEL=INFO

# Docker Compose batch controller path
DC_BATCH_CONTROLLER="$BACKUP_SOURCE/dc.sh"

# Save logs to file
SAVE_LOGS=false

# Path to log file
LOG_DIR="$BACKUP_SOURCE/logs"
# OR
#LOG_DIR="$BACKUP_SOURCE"

# Log filename
# Defaults to match archive name
LOG_FILE="$BORG_ARCHIVE_NAME-${TIMESTAMP}.log"
# OR
LOG_FILE="backup.log"

# Logging timestamp format
LOG_TIMESTAMP_FORMAT="%F %T"

# Enable colored logs
LOG_ENABLE_COLORS=true

# Borg encryption: none, repokey
BORG_ENCRYPTION=none

# Passphrase for Borg repo (if encrypted)
BORG_REPO_PASSPHRASE=

# Compression: lz4, zstd,3, zlib,6, none
BORG_COMPRESSION=lz4

# Show progress bar
BORG_PROGRESS_BAR=true

# List files during backup
BORG_LIST=false

# Show stats after backup
BORG_STATS=true

# Exclude patterns (array)
EXCLUDE_PATTERNS=(
    "**/@eaDir"
    "**/@tmp"
    "**/Plex Media Server/Codecs"
    "**/Plex Media Server/Logs"
    "**/Plex Media Server/Updates"
    "**/Plex Media Server/Crash Reports"
    "**/Plex Media Server/Diagnostics"
    "**/Plex Media Server/*.pid"
    "**/*.log"
    "**/logs"
    "**/cache"
    "**/Cache"
)

# Perform healthcheck after backup
PERFORM_URL_HEALTHCHECK=false

# Healthcheck URL
HEALTHCHECK_URL="http://example.com/your-healthcheck-endpoint"

# Change ownership after operations
CHOWN_AFTER=false

# Owner UID
OWNER_UID=1000

# Owner GID
OWNER_GID=1000