# Ignore everything
*

# Allow directories (but ignore their contents)
!*/

# Track these files in root
!.gitignore
!docker-compose.sh

# Allow Docker YML files in root
!compose.yml
!compose.yaml
!docker-compose.yml
!docker-compose.yaml

# Allow Docker YML files in subdirectories
!*/compose.yml
!*/compose.yaml
!*/docker-compose.yml
!*/docker-compose.yaml
